{% extends 'base.html' %}
{% block title %}Articles - Seth Jones{% endblock %}
{% block content %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='articles.css') }}">
{% endblock %}


  <p>&nbsp</p>
  <p>&nbsp</p>
  <p>&nbsp</p>

  <div class="articles-section">
    <h1 class="section-title">Articles & Papers</h1>
    {% for article in articles %}
      <div class="article-card">
        <h2>{{ article.title }}</h2>
        <p class="date">{{ article.date }}</p>
        <p>{{ article.summary }}</p>
        <a href="{{ url_for('article_detail', slug=article.slug) }}">Read more -></a>
      </div>
    {% endfor %}
  </div>
{% endblock %}